html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
}

span{color:#888; text-decoration:none;}

a{color:#000; text-decoration:none; font-weight=bold;}

a:hover{color:#000000; text-decoration:none; font-weight=bold;}

a.direction{color:#888;}
