html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
}

#board {width:930px;  
			border-color:#888;
			border-width:2px;
			border-top-style:solid;
			border-bottom-style:solid;
			margin:0;
			padding:0;
}
#pagination{
	position: relative;
	margin-left:-350px;
}

div.row{	border-color:#ccc;
					border-width:1px;
					border-top-style:solid;
					border-bottom-style:solid;
					overflow:auto;
}

div.number{	width:50px; 						
					text-align:center;
					float:left;
}

div.title{	 width:750px; 
				float:left; 
}

#title_bar div.title{
			text-align:center;
}

div.regid{width:50px; 
				text-align:center; 
				float:left;
}

div.date{width:80px;
			text-align:center;
			float:left;
}
